Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

<!-- <IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /react-soltools-v1/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /react-soltools-v1/index.html [L]
</IfModule> -->